<%# locals: (records:, pagy:, columns: nil) -%>
<% columns ||= records %>
<% record_model ||= records.model %>
<table id="<%= record_model.model_name.route_key %>" class="table">
  <thead>
  <tr>
    <th></th>
    <% columns.each do |column| %>
      <th><%= record_model.human_attribute_name column %></th>
    <% end %>
  </tr>
  </thead>
  <% records.each do |record| %>
    <tr>
      <td>
        <%= link_to "Show this", record %>
      </td>
      <% columns.each do |column| %>
        <td><%= record[column] %></td>
      <% end %>
    </tr>
  <% end %>
  <tfoot>
  <tr>
    <td colspan="<%= columns.size + 1 %>">
      <%= raw pagy_info(pagy) %>
    </td>
  </tr>
  </tfoot>
</table>

<%= raw pagy_bootstrap_nav(pagy) %>