<% content_for :header do %>
  Authenticating
<% end %>

<% if @saml_idp_fail_msg %>
  <div id="saml_idp_fail_msg" class="flash error"><%= @saml_idp_fail_msg %></div>
<% else %>
  <p>
    <%= @saml_request&.provider_name || @metadata&.parsed_metadata&[:display_name] %> would like to know more about you.
  </p>

  <% user = User.last || User.new %>
  <%= bootstrap_form_with model: user, url: saml_auth_path, method: :post do |f| %>
    <%= hidden_field_tag("SAMLRequest", params[:SAMLRequest]) %>
    <%= hidden_field_tag("RelayState", params[:RelayState]) %>
    <%= f.text_field :username, floating: true %>
    <%= f.text_field :password, floating: true, value: user.notes&.public_send(:[], "password") %>

    <%= f.primary "Sign in" %>
    <%= submit_tag("Cancel", class: "btn btn-danger") %>
  <% end %>
<% end %>
