<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sample Saml Idp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-grid vh-100 bg-body-secondary" style="grid-template-columns: 16rem 1fr; grid-template-rows: 100%">
    <nav class="bg-body-tertiary border-end">
      <ul class="nav nav-underline vstack px-3">
        <li class="nav-item">
          <%= link_to "Dashboard", :dashboard, class: { "nav-link" => true, "active" => current_page?(:dashboard) } %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", User, class: { "nav-link" => true, "active" => current_page?(User) } %>
        </li>
        <li class="nav-item">
          <%= link_to "Sessions", UserSession, class: { "nav-link" => true, "active" => current_page?(UserSession) } %>
        </li>
        <li class="nav-item">
          <%= link_to "Service Providers", SamlMetadatum, class: { "nav-link" => true, "active" => current_page?(SamlMetadatum) } %>
        </li>
      </ul>
    </nav>
    <main class="container-md container-fluid bg-body border-start border-end d-grid" style="grid-template-rows: auto 1fr auto;">
      <header class="row border-bottom bg-body-tertiary p-3">
        <%= content_for :header %>
      </header>
      <div class="row overflow-y-auto">
        <%= yield %>
      </div>
      <footer class="row border-top bg-body-tertiary p-3 <%= "d-none" unless content_for? :footer %>">
        <%= content_for :footer %>
      </footer>
    </main>
  </body>
</html>
